/* General Fix for Blank Space */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* About Us Section */
#about {
  padding: 3rem 1rem; /* Adjusted padding for better flexibility */
  background: #bacbf0;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100vw;
  overflow: hidden;
}

#about h1 {
  font-size: 3rem;
}

#about h2 {
  font-size: 2rem;
}

#about p {
  font-size: 1.1rem;
  color: #555;
}

#about .small {
  font-size: 1rem;
  color: #666;
  font-weight: 600;
  
}

.about-img {
  flex: 1 1 100%; /* Adjusted to 100% for responsiveness */
  padding: 1rem;
  transform: translateX(3rem); /* Reduced to avoid large gaps */
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 100%; /* Adjusted to 100% for responsiveness */
  padding: 1rem;
  margin: auto;
  transform: translateX(-3rem); /* Reduced for proper alignment */
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 30rem;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 20rem 5rem 5rem 5rem;
}

/* Our Vision Styling */
.mvv-container {
  max-width: 90%;
  margin: 2rem auto;
}

.mvv-block {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mvv-block .image {
  flex: 0 0 auto;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.mvv-block .image img {
  width: 100%;
  transition: transform 0.3s ease;
}

.mvv-block .image:hover img {
  transform: scale(1.05);
}

.mvv-block .mvv-content {
  flex: 1 1 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  text-align: center;
}

.mvv-content h2 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #55b0e4;
  margin-bottom: 0.5rem;
}

.mvv-content p {
  font-weight: 500;
  font-size: 1.2rem;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .about-text, .about-img {
    width: 100%;
    padding: 2rem;
    margin: 0;
  }

  .mvv-block {
    flex-direction: column;
    align-items: center;
  }

  .mvv-block .image {
    width: 100%;
    max-width: 300px;
  }

  .mvv-block .mvv-content {
    width: 100%;
    padding: 
