/* Reset and Base Styles */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Contact Section */
#contact {
  padding: 5rem 0;
  background: #e2e2e2;
}

/* Layout */
.contact-container {
  display: flex;
  background: #fff;
}

.contact-img,
.form-container {
  width: 50%;
}

.contact-img iframe {
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Form Styles */
.form-container {
  margin: auto;
  padding: 1rem;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin: -1.2rem 0 1rem;
}

.form-container a {
  font-size: 1.3rem;
}

/* Form Input Styles */
.form-container input,
.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  outline: none;
  color: #444;
}

.form-container input {
  margin-bottom: 1rem;
  font-weight: 500;
}

.form-container textarea {
  resize: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-img, .form-container {
    width: 100%;
  }
  .contact-img iframe {
    width: 100%;
    height: 500px;
    object-fit: contain;
    margin: right 15rem;
  }
}


@media (max-width: 1024px) {
  .container {
    width: auto;
    padding: 30px;
  }
  
  .col-1 {
    width: 360px;
  }
}

@media (max-width: 700px) {
  .content {
    display: block;
  }
  
  .col-1 {
    width: 100%;
  }
  
  .col-2 {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
}