/* General Fix for Blank Space */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */

}

/*speech page styling*/

.st-showcase-area {
  height: 80vh;
  background: url("images/chill.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.st-showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; /* Center text horizontally */
  padding: 0 5%; /* Adjusted padding for better responsiveness */
  color: rgb(228, 214, 16);
  font-size: 1.625rem; /* Equivalent to 26px */
}

.st-showcase-container h1 {
  color: rgb(250, 249, 244);
  font-size: 4.375rem; /* Equivalent to 70px */
}

.st-main-title {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 3.6rem; /* Remains responsive */
}

.st-main-title p {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.25rem; /* Remains responsive */
}

.strategy {
  padding: 6.25rem 5%; /* 100px padding replaced with rem */
  background: rgba(228, 235, 245, 0.575);
  border-radius: 0.3125rem; /* Equivalent to 5px */
}

.strategy h2 {
  margin-bottom: 5rem;
}

@media (max-width: 900px) {
  .st-main-title {
      font-size: 2.5rem; /* Adjusted for medium screens */
  }

  .st-main-title p {
      font-size: 1.5rem; /* Adjusted for medium screens */
  }

  .strategy  {
      padding: 3.125rem 5%; /* Reduced padding for smaller screens */
  }
}

@media (max-width: 600px) {
  .st-main-title {
      font-size: 2rem; /* Adjusted for small screens */
  }

  .st-main-title p {
      font-size: 1.2rem; /* Adjusted for small screens */
  }

  .strategy  {
      padding: 1.875rem 5%; /* Reduced padding for smaller screens */
      background: rgb(245, 242, 238);
  }
}

#speech {
  padding: 50px 0;
  background: #f3f3f5;
}

.speech-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#speech h1 {
  font-size: 4.3rem;
}

#speech h2 {
  font-size: 2.3rem;
}

#speech p {
  font-size: 1.2rem;
  color: #555;
}

#speech .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.speech-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: speech-img-animation 1s ease-in-out forwards;
}

@keyframes speech-img-animation {
  100% {
    transform: translate(0);
  }
}

.speech-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: speech-text-animation 1s ease-in-out forwards;
}

@keyframes speech-text-animation {
  100% {
    transform: translate(0);
  }
}

.speech-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 90px 10px 10px 10px;
}


